.Page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Headder{
    margin: 0 20px 0 20px;
}

.LocationText {
    margin: 0 50px 0 50px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;

    /* Gray */
    color: #BBBBBB;
}

.TealText,
.DarkGrayText{
    margin: 0 50px 0 50px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.TealText{
    color: #095F6B;
}

.DarkGrayText{
    color: #727272;
}

.ButtonBox{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}