.Page{
  display: flex;
  flex-direction: column;
}

.Header{
  margin-bottom: 0;
}

.Bottom{
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.ErrorBox{
  display: flex;
  align-self: center;
  width: 280px;
  padding: 10px 0 10px 0;
  background-color: #f44336;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  align-self: center;

  /* Black */
  color: #171717;
}

.SubBottom {
  display: flex;
  flex-direction: column;
}

.GoogleButton {
  align-self: center;
  height: 55px;
  width: 290px;
}

.Label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  align-self: center;

  /* Black */
  color: #272727;
}

.Label p{
  margin: 10px 0 0 0;
}

.SubSubBottom {
  display: flex;
  justify-content: center;
}

.BottomMidButtonSpacer {
  flex: 0 0 30px;
}

.BottomButton{
  width: 130px;
  flex: 0 0 130px;

  margin: 20px 0 15px 0;
}