.Page{
  display: flex;
  flex-direction: column;
}

.Top, .Bottom {
  flex: 1 1;
}

.Bottom{
  display: flex;
  flex-direction: column;
}

.GoogleButton {
  align-self: center;
  height: 55px;
  width: 290px;
}

.BottomSpacer {
  flex: 1 1 0px;
}

.BottomMidSpacer {
  flex: 0 0 40px;
}

.SubBottom {
  flex: 1 1 0px;
  display: flex;
}

.BottomButtonSpacer {
  flex: 1 1 0px;
}

.BottomMidButtonSpacer {
  flex: 0 0 30px;
}

.BottomButton{
  width: 130px;
}