.Page {
    display: flex;
    flex-direction: column;
}

.Map,
.FakeMap{
    flex: 1 1 0px;
    margin: 0 0 10px 0;
}

.ButtonBox{
    display: flex;
    justify-content: space-around;
    margin: 0 0 10px 0;
}

.FakeButton{
    width: 115px;
    height: 45px;
    flex: 0 0 115px;
}