.Page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Headder{
    margin: 20px 20px 10px 20px;
}

.ErrorBox,
.SavedBox{
    display: flex;
    align-self: center;
    width: 280px;
    padding: 10px 0 10px 0;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    align-self: center;
    text-align: center;
  
    /* Black */
    color: #171717;
}

.ErrorBox{
    background-color: #f44336;
}

.SavedBox{
    background-color: #4CAF50;
}

.FieldDiv{
    display: flex;
    flex-direction: column;
}

.Label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    align-self: center;
  
    /* Black */
    color: #272727;
}
  
.Label p{
    margin: 20px 0 0 0;
}

.FieldDiv.Dark .Label p{
    color: #FFFEF9;
}

.ButtonBox{
    display: flex;
    justify-content: center;
}

.Button{
    margin: 30px 25px 0 25px;
}