.Button{
    margin: 0 0 5px 5px;
    bottom:0px;
    right:0px;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-right: 25px solid #727272;
    border-bottom: 14px solid transparent;
}

.Dark {
    border-right-color: #FFFFFF;
}