.Button{
    width: 115px;
    height: 45px;
    flex: 0 0 115px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    /* White */
    color: #FFFEF9;
    background: #095F6B;
    border-radius: 6px;
    border: none;
}

.Dark{
    /* Black */
    color: #272727;
}