.DarkButton,
.LightButton,
.DisabledButton {
    display: flex;
    align-items: center;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    border-radius: 1px;
    text-align: center;
    font-size: 16px;
    line-height: 48px;
    font-family: Roboto, arial, sans-serif;
    user-select: none;
}

.Label{
    flex: 1 1 0px;
}

.DarkButton,
.LightButton {
    cursor: pointer;
}

.DarkButton:hover,
.LightButton:hover {
    box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
    transition: background-color .218s, border-color .218s, box-shadow .218s;
}

.DarkButton {
    background-color: #4285f4;
    color: #fff;
}

.LightButton {
    background-color: #fff;
    color: rgba(0, 0, 0, .54);
}

.DisabledButton{
    background-color: rgba(37, 5, 5, .08);
    color: rgba(0, 0, 0, .40);
    cursor: not-allowed;
}

.Icon {
    height: calc(100% - 2px);
    margin-left: 1px;
    float: left;
    background-color: #fff;
    border-radius: 1px;
  }

.LightButton .Icon{
    content: url(../img/google_button/btn_light_normal.svg);
}

.LightButton:focus .Icon{
    content: url(../img/google_button/btn_light_pressed.svg);
}

.DarkButton .Icon{
    content: url(../img/google_button/btn_light_normal.svg);
}

.DarkButton:focus .Icon{
    content: url(../img/google_button/btn_light_pressed.svg);
}

.DisabledButton .Icon{
    content: url(../img/google_button/btn_disabled.svg);
    background-color: transparent;
  }