h1,
h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    
    /* Teal */
    color: #095F6B;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 72px;
}
